* {
    font-family: Helvetica;
}

.css-property {
    background-color: beige;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline;
    padding: 4px;
}

.css-element {
    background-color: darkseagreen;
    padding: 15px;
}

.code-example {
    margin: 30px 0;
}