.answer .exercise-1 .yellow.square {
    position: relative;
}

.answer .exercise-1 .red.square {
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
}

.answer .exercise-2 .red.square {
    margin: 0 auto;
}

.answer .exercise-3 .container {
    font-size: 0;
}

.answer .exercise-3 .square {
    display: inline-block;
    font-size: initial;
}