.position-static .css-element {
    position: static;
    /* top, right, bottom y right properties no afectan elementos estáticos */
    top: 20px;
    left: 20px;
}

.position-relative .css-element {
    position: relative;
    left: 40px;
}

.position-fixed .css-element {
    background-color: rgba(207, 228, 207, 0.8);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    /* Esta property la vemos en detalle en otro ejemplo */
    z-index: 1;
}

.position-absolute .css-container-element {
    position: relative;
    height: 150px;
}

.position-absolute .css-element {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 300px;
}