.position-static .css-element {
    position: static;
    /*top, right, bottom and right properties don't affect static*/
    top: 20px;
    left: 20px;
}

.position-relative .css-element {
    position: relative;
    left: 40px;
}

.position-fixed .css-element {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}