.position-static .css-element {
    position: static;
    /*top, right, bottom and right properties don't affect static*/
    top: 20px;
    left: 20px;
}

.position-relative .css-element {
    position: relative;
    left: 40px;
}