* {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0 20px;
    overflow-x: hidden;
    font-size: large;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.square {
    text-align: center;
}

.large.square {
    width: 300px;
    height: 300px;
    line-height: 300px;
}

.small.square {
    width: 100px;
    height: 100px;
    line-height: 100px;
}
