* {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0 20px;
    overflow-x: hidden;
    font-size: large;
}

.note {
    font-style: italic;
}

.note:before {
    content: 'Nota: ';
    font-weight: bold;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.large.square {
    width: 300px;
    height: 300px;
}

.small.square {
    width: 100px;
    height: 100px;
}

.centered {
    text-align: center;
}

.large.centered.square {
    line-height: 300px;
}

.small.centered.square {
    line-height: 100px;
}