section > ul {
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 20px;
}

a {
    color: red;
}

.align-center {
    text-align: center;
}

#modal {
    background-color: red;
    color: white;
    padding: 40px;
}

[type="text"] {
    background-color: blue;
    color: white;
}

.colors div {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.colors .red {
    background-color: red;
}

.colors .green {
    background-color: green;
}

.colors .blue {
    background-color: blue;
}

.title-adjacent + p {
    background-color: red;
    color: white;
    padding: 10px;
}