section > ul {
    padding: 0;
    list-style: none;
}

section > ul > li {
    margin-bottom: 20px;
}

a {
    color: red;
}

.align-center {
    text-align: center;
}

#modal {
    background-color: red;
    color: white;
    padding: 40px;
}

[type="text"] {
    background-color: blue;
    color: white;
}

.colors div {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.colors .red {
    background-color: red;
}

.colors .green {
    background-color: green;
}

.colors .blue {
    background-color: blue;
}

.title-adjacent + p {
    background-color: red;
    color: white;
    padding: 10px;
}

.title-general ~ p {
    background-color: red;
    color: white;
    padding: 10px;
}

.list-children li {
    background-color: red;
    color: white;
}

.list-children > li {
    background-color: blue;
}

.chapter-start::first-letter {
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
}

.before-after {
    background-color: green;
}

.before-after::before {
    content: 'Before.';
    background-color: red;
}

.before-after::after {
    content: 'After.';
    background-color: blue;
    color: white;
}

.popup {
    position: relative;
    background-color: #007bff;
    border-radius: 4px;
    padding: 10px;
}

.popup::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 15px;
    color: white;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #007bff transparent transparent transparent;
}

.hover-over-me {
    border-radius: 4px;
    padding: 10px;
}

.hover-over-me:hover {
    background-color: red;
}