* {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0 20px;
    overflow-x: hidden;
    font-size: large;
}

pre {
    margin: 10px 0;
}

section {
    margin-bottom: 100px;
}

h3.css-property {
    margin-left: -4px;
}

.css-property.title {
    display: inline-block;
    margin-bottom: 10px;
}

.css-property {
    background-color: #4c8c53;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline;
    padding: 4px;
    font-family: Consolas, monospace;
}

.css-element {
    background-color: #f1ee8e;
    border: 1px solid #999656;
    padding: 15px;
}

.css-container-element {
    background-color: #c3d1ff;
    border: 1px solid #5366e1;
    padding: 20px;
}

.code-example {
    margin: 30px 0;
}

.code {
    display: inline;
    font-family: Consolas, monospace;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
}

.half-width {
    width: 50%;
}