.display-block .css-element {
    display: block;
}

.display-block  .css-container-element {
    display: block;
    width: 50%;
}

.display-inline .css-element {
    display: inline;
}

.display-inline-block .css-element {
    display: inline-block;
    width: 250px;
    white-space: normal;
}

.display-inline-block .css-container-element {
    white-space: nowrap;
}

.display-none .toggle-element {
    font-size: 20px;
}

.display-none .css-toggle-element {
    display: none;
}

.display-none .hover-toggle-element {
    display: none;
}

.display-none .hover-toggle:hover .hover-toggle-element {
    display: block;
}