.z-index .css-container-element {
    position: relative;
    height: 230px;
}

.z-index .css-element {
    background-color: rgba(207, 228, 207, 0.8);
}

.z-index .css-element.absolute-1 {
    position: absolute;
    top: 90px;
    left: 20px;
    background-color: #ff3232;
}

.z-index .css-element.absolute-2 {
    position: absolute;
    top: 135px;
    left: 70px;
    background-color: #ffff32;
}

.z-index .css-element.absolute-3 {
    position: absolute;
    top: 180px;
    left: 120px;
    background-color: #3232ff;
    color: white;
}

.z-index-integer .absolute-1 {
    z-index: 3;
}

.z-index-integer .absolute-2 {
    z-index: 2;
}

.z-index-integer .absolute-3 {
    z-index: 1;
}

.z-index-integer .outer .css-container-element {
    z-index: 0;
}

.z-index-integer .css-container-element.outer {
    height: inherit;
}

.z-index-integer .css-element.outer {
    position: absolute;
    background-color: #eeaaee;
    padding: 30px;
    height: inherit;
    width: 250px;
    top: 120px;
    left: 0;
    z-index: 2;
}

.best-practices .css-element {
    width: 150px;
    line-height: 2.5em;
    text-align: center;
}

.best-practices .sidenav {
    z-index: 100;
}

.best-practices .popover {
    z-index: 200;
}

.best-practices .modal {
    z-index: 300;
}