.answer .exercise-0 .square {
    transition: .5s;
}

.answer .exercise-0 .square:hover {
    background-color: red;
}

.answer .exercise-1 .square.yellow:hover + .square.red {
    display: none;
}

.answer .exercise-2 .square.red:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.answer .exercise-2 .square.red:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.answer .exercise-3 .container {
    position: relative;
}

.answer .exercise-3 .square {
    position: absolute;
}

.answer .exercise-3 .red.square {
    z-index: 3;
}

.answer .exercise-3 .green.square {
    top: 50px;
    left: 50px;
    z-index: 2;
}

.answer .exercise-3 .blue.square {
    top: 100px;
    left: 100px;
    z-index: 1;
}

.answer .exercise-4 .square {
    background-color: red;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .answer .exercise-4 .square {
        background-color: green;
    }
}

@media (max-width: 767px) {
    .answer .exercise-4 .square {
        background-color: blue;
    }
}
