.navbar {
    background-color: rgba(43,41,44,0.55);
    color: white;
    height: 95px;
    font-weight: 500;
    position: fixed;
    width: 100%;
}

.navbar .logo {
    display: inline;
    font-family: Grand Hotel, sans-serif;
    font-size: 30px;
    line-height: 95px;
    margin-left: 64px;
}

.navbar .menu {
    display: inline;
    line-height: 95px;
    margin: 0;
    margin-right: 60px;
    padding-left: 0;
}

.navbar .menu li {
    display: inline;
    padding: 10px;
    text-transform: uppercase;
}

.navbar .menu li a {
    border-bottom: 3px solid transparent;
    color: white;
    padding-bottom: 6px;
    text-decoration: none;
    transition: color .25s, border-color .25s;
}

.navbar .menu .active a,
.navbar .menu li:hover a {
    border-color: white;
}

.navbar .menu li:hover a {
    color: #CFCFCF;
    border-color: #CFCFCF;
}

.navbar .menu-toggle {
    display: none;
    padding: 14px;
}

.navbar .menu-toggle button {
    color: white;
    display: block;
    text-align: center;
    border: 1px solid white;
    background: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar {
        height: initial;
        min-height: 95px;
    }

    .navbar .menu-toggle {
        display: block;
    }

    .navbar .logo {
        display: block;
        margin-left: 0;
        line-height: 60px;
        text-align: center;
    }

    .navbar .menu {
        display: block;
        line-height: initial;
        margin-right: 0;
        max-height: 0;
        overflow: hidden;
        position: initial;
        transition: max-height 1s ease-out;
    }

    .navbar .menu.visible {
        max-height: 600px;
    }

    .navbar .menu li {
        display: block;
        text-align: center;
    }

    .navbar .menu li:last-child {
        margin-bottom: 14px;
    }

    .navbar .menu .active a {
        border-bottom: 0;
    }
}
