.navbar {
    background-color: rgba(0,0,0,0.60);
    color: white;
    height: 95px;
    position: fixed;
    width: 100%;
}

.navbar .logo {
    display: inline;
    font-family: Grand Hotel, sans-serif;
    font-size: 30px;
    line-height: 95px;
    margin-left: 64px;
}

.navbar .menu {
    display: inline;
    line-height: 95px;
    margin: 0;
    margin-right: 60px;
    padding-left: 0;
}

.navbar .menu li {
    display: inline;
    padding: 10px;
    text-transform: uppercase;
}

.navbar .menu .active a {
    border-bottom: 3px solid white;
}

.navbar .menu li:hover a {
    color: grey;
    border-color: grey;
}

.navbar .menu li a {
    color: white;
    text-decoration: none;
}

.navbar .menu-toggle {
    display: none;
    padding: 14px;
    padding-top: 0;
}

.navbar .menu-toggle button {
    color: white;
    display: block;
    text-align: center;
    border: 1px solid white;
    background: none;
    padding: 10px;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar {
        height: initial;
        min-height: 95px;
    }

    .navbar .menu-toggle {
        display: block;
    }

    .navbar .logo {
        display: block;
        margin-left: 0;
        line-height: 60px;
        text-align: center;
    }

    .navbar .menu {
        display: none;
        line-height: initial;
        margin-right: 0;
        position: initial;
    }

    .navbar .menu li {
        display: block;
        text-align: center;
    }

    .navbar .menu .active a {
        border-bottom: 0;
    }
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.header {
    width: 100%;
}
