.thumbnail {
	padding: 0 1em;
}

.thumbnail .image-container {
	position: relative;
}

.thumbnail img {
	display: block;
	width: 100%;
}

.thumbnail .likes {
	background: black;
	color: white;
	padding: 1em;
	position: absolute;
	top: 1em;
	left: 1em;
}

.thumbnail .likes::before {
	content: '\2665';
	font-size: .7em;
	margin-right: .4em;
}

.thumbnail .category {
	color: white;
	font-family: Grand Hotel, sans-serif;
	font-size: 2em;
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.thumbnail .name {
	font-size: 1.2em;
	margin: 1em 0;
	text-align: center;
}
